/*RESET*/
*{
    margin: 0; padding: 0;font-family: 'Source Sans Pro', sans-serif;
}
a{
    text-decoration: none;
}
/*cabecalho*/

.header{
    width: 100%;
    padding: 10px;
    background-color: black;
}
.header h1 a i{
    color: #ffa600;
    font-size: 60px; margin-left: 10px;
    
}
.header button{
    float: right;
    padding-right: 40px; font-size: 20px; color: white; background-color: black; border: #ffa600 solid 2px;
    border-radius: 20px; align-items: center;

}